MYWEBAPP_HOST_PORT=80

POSTGRES_USER=mywebapp
POSTGRES_PASSWORD=change-me-in-prod
POSTGRES_DB=mywebapp

MYWEBAPP_DB_HOST=postgres
MYWEBAPP_DB_PORT=5432
MYWEBAPP_DB_NAME=mywebapp
MYWEBAPP_DB_USER=mywebapp
MYWEBAPP_DB_PASSWORD=change-me-in-prod
